@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 9999;
}

html{
    scroll-behavior: smooth;
} 

.content{
    height: 2500px;
    width: 100%;
}

/* Styling the home section */
.home{
    height: 100vh;
    width: 100%;
    background-image: url(/assets/background/home.jpg);
    background-size: 100% 100%;
    color: rgb(255,255,255);
    display: block;
}

#logo{
    margin-top: 16%;
    margin-left: 46.6%;
    height: 80px;
}

.title-text{
    font-size: 3em;
    font-weight: 560;
    word-spacing: 5px;
    padding-top: 30px;
    line-height: 90px;
}

#click{
    margin-top: 10%;
    margin-left: 50%;
}

/* Styling the about section */
.about{
     height: 40vh;

}
.about-title{
    font-weight: bolder;
    padding-top: 3%;
}

/* Style the sevice section */
.service{
    background-image: url(/assets/background/service.jpg);
    height: 60vh;
    width: 100%;
    padding-top: 6.5%;
    color: rgb(255,255,255);
    font-weight: 600;
}

/* Styling the whatWeDo section */
.whatWeDo{
    height: 35vh;
    width: 100%;
}
.title-center{
    padding-top: 3%;
    font-weight: bold;
}

.row{
    padding-top: 30px;
}

#design,#product,#development {
    padding-left: 42%;
}

.hidden{
    display: none;
}

/* Styling the portfolio section */
.portfolio{
    width: 100%;
    height: 90vh;
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

#portfolio{
    width: 310px;
    height: 240px;
}

.portfolio-img>.one {
    margin-left: -1%;
}

.portfolio-img>.two {
    margin-left: 25px;
}

.portfolio-img>.three {
    margin-left: 25px;
}

.portfolio-img>.four {
    margin-left: 25px;
}

.portfolio-img>.five {
    margin-left: -1%;
    margin-top: 50px;
}

.portfolio-img>.six {
    margin-left: 25px;
    margin-top: 50px;
}

.portfolio-img>.seven {
    margin-left: 25px;
    margin-top: 50px;
}

.portfolio-img>.eight {
    margin-left: 25px;
    margin-top: 50px;
}



/* Styling the contact us section */
.contact{
    height: 60vh;
    width: 100%;
    background-image: url(/assets/background/c_image.jpg);
    color: rgb(255,255,255);
}

.form{
   width: 60%;
   margin-left: 20%;
}

.text {
    margin-top: 2%;
}

.form-control {
    background: transparent;
    border: 0.3px solid white;
}

.form-control::placeholder{
    color: rgb(255,255,255);
    padding-top: 5px;
    padding-left: 8px;
}

.btn {
    border: 0.2px solid white;
    color: rgb(255,255,255);
    margin-top: 25px;
    margin-left: 45%;
}

/* Styling the social icons */
.social-icons {
    width: 100%;
    height: 15vh;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

#img {
    margin-left: 10px;
}

.foot {
    padding-top: 20px;
}




/* Media Responsiveness */
@media (max-width: 1315px) {
.first{
    margin-left: 5%;
}

.port {
    margin-top: 3%;
}
}



@media (max-width: 1194px) {
    .first{
        margin-left: 1%;
    }
}

@media (max-width: 1060px) {
    #click {
        margin-top: 10px;
    }
    .about {
        height: 50vh;
    }
    .portfolio {
        height: 70vh;
        width: 100%;
    }
    .col>#portfolio {
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 1000px) {
    .portfolio{
        height: 80vh;
    }

    .col>#portfolio {
        width: 200px;
        height: 200px;
    }

    .col>.first {
        margin-left: 15%;
    }

    .images {
        justify-content: center;
    }
}

@media (max-width: 989px) {
    .col>#portfolio {
        width: 248px;
        height: 300px;
    }
}

@media (max-width: 865px) {
    #logo{
        margin-top: 20%;
        height: 50px;
    }
    
    .title-text{
       padding-top: 30px;
    }
    
    #click{
        margin-top: 20%;
    }
    .portfolio{
        height: 50vh;
    }
    .col>#portfolio {
        width: 160px;
        height: 200px;
    }}

    @media (max-width: 759px) {
        .portfolio{
            height: 70vh;
        }

        .first {
            margin-left: 4%;
        }

        .col>#portfolio {
            width: 180px;
            height: 200px;
        }
    }

    @media (max-width: 725px) {
        .portfolio{
            height: 80vh;
        }

        .col>#portfolio {
            width: 160px;
            height: 200px;
        }

        #design,#development,#product {
            justify-content: center;
        }
    }

    @media (max-width: 705px) {
        .portfolio{
            height: 80vh;
        }

        .col>#portfolio {
            width: 140px;
            height: 200px;
        }
    }

    @media (max-width: 687px) {
        .about {
            height: 45vh;
        }
        .portfolio {
            height: 75vh;
        }
        .col>#portfolio {
            width: 130px;
            height: 200px;
        }

        .first {
            margin-left: 0.5%;
        }
    }

    @media (max-width: 650px) {
        .about {
            height: 45vh;
        }
        .portfolio {
            height: 77vh;
        }
        .col>#portfolio {
            width: 160px;
            height: 200px;
        }
    }

    @media (max-width: 625px) {
        .portfolio>.row {
            display: flex;
            flex-wrap: wrap;
        }
        .col>#portfolio {
            width: 130px;
            height: 200px;
        }

        .col>.first {
            margin-left: 3%;
        }

        .port {
            margin-top: 2%;
        }
    }

    @media (max-width: 553px) {
        .whatWeDo{
            height: 35vh;
        }
        
        #design,#product,#development {
            padding-left: 29%;
        }

        #product {
            margin-top: -10px;
        }

        .portfolio {
            height: 75vh;
        }
        .col>#portfolio {
            width: 100px;
            height: 200px;
        }

        .port>.first {
            margin-left: 10px;
        }

        .port {
            margin-top: -3%;
        }
    }

    @media (max-width: 467px) {
        .portfolio {
            height: 65vh;
        }
        .col>#portfolio {
            width: 80px;
            height: 150px;
        }

        .col>.first {
            margin-left: 10px;
        }

        .port {
            margin-top: 5%;
        }
    }

    @media (max-width: 444px) {
        .about {
            height: 50vh;
        }

        .col>#portfolio {
            width: 100px;
            height: 160px;
        }

        .first{
            margin-left: 5%;
        }
    }

   

    @media (max-width: 439px) {
        body{
            width: 100%;
        }
        .about {
            height: 52vh;
        }
        .col>#portfolio {
            width: 105px;
        }

        .first {
            margin-left: 6%;
        }
       
        .images {
            display: flex;
            flex-wrap: wrap;
        }}

        @media (max-width: 401px) {
            .portfolio {
                height: 60vh;
            }

            .col>#portfolio {
                width: 75px;
            }
        }
    
        @media (max-width: 380px) {
            .about {
                height: 59vh;
            }
            .portfolio {
                height: 65vh;
            }

            .col>#portfolio {
                width: 70px;
            }

            .whatWeDo>.row p {
                text-align: center;
            }

            .whatWeDo>.row img {
                height: 50px;
            }

            #product {
                margin-top: -3px;
            }
        }

    @media (max-width: 341px) {
        .about {
            height: 60vh;
        }

        .whatWeDo {
            height: 30vh;
        }

        .whatWeDo>.row {
            margin-top: 10px;
        }

        .portfolio {
            margin-top: 5%;
            height: 60vh;
        }

        .portfolio>.row {
            display: flex;
            flex-wrap: wrap;
        }
        .col>#portfolio {
            width: 60px;
        }

        #product {
            margin-left: 10%;
        }

        .social-icons>.images {
            display: flex;
            flex-wrap: wrap;
        }
    }

    @media (max-width: 321px) {

    } 


